<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores nesciunt, ducimus vitae dolorem illo quasi rem itaque sed, repudiandae quas deserunt voluptatibus blanditiis temporibus unde natus tenetur sit exercitationem maxime?</p>
    
</body>
</html>